body {
  background-color: lightgray;
}

td {
  border: 1px solid black;
}

.q {
  font-size: 20px;
  font-weight: bold;
  width: 300px;
}

.a {
  font-size: 18px;
  font-weight: lighter;
  width: 500px;
}

#paper {
  position: relative;
  margin: 20mm auto;
  padding: 10mm;
  width: 210mm;
  height: 297mm;
  background-color: white;
  border: 2px solid black;
}
